@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Red+Hat+Text:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Buttons */
  .btn {
    @apply
      flex h-12 px-4 rounded-none items-center border border-gray-200
      hover:bg-gray-200 active:bg-gray-300 active:border-gray-300
      transition-colors ease-in-out duration-100;
  }
  .btn.btn-primary {
    @apply
      bg-green-500 text-white font-medium border-green-500 hover:bg-green-600
      hover:border-green-600 active:border-green-700 active:bg-green-700;
  }
  .btn.btn-sm {
    @apply px-4 h-8 text-sm;
  }

  /* Navbars */
  .navbar {
    @apply
      flex w-full h-16 px-4 items-center justify-center transition-shadow
      duration-300 z-50 fixed bg-white top-0;
  }
  .navbar.scroll {
    @apply
      shadow-md;
  }

  .navbar-inner {
    @apply
      flex max-w-screen-xl w-full items-center justify-between;
  }

  .navbar-link {
    @apply
      leading-none text-sm transition duration-200 ease-in-out border-b
      hover:border-gray-800 pb-1 border-white;
  }

  /* Heroes */
  .hero {
    overflow: hidden;
    display: grid;
    grid-template-areas:
      'content'
      'text';
  }
  @media screen(lg) {
    .hero {
      @apply h-96 grid-cols-2;
      grid-template-areas: 'text content';
    }
  }

  .hero .text {
    @apply text-center lg:text-left lg:flex lg:flex-col lg:justify-center lg:h-96 w-full;
    grid-area: text
  }

  .hero .text > .flex {
    @apply justify-center lg:justify-start;
  }

  .hero .content {
    @apply mx-auto lg:mx-0 lg:flex lg:flex-col lg:justify-center lg:h-96 w-full;
    grid-area: content
  }

  /* Hero content images */
  .hero .content img {
    @apply max-h-80 mx-auto mb-8 lg:mx-0 lg:ml-auto lg:mb-0;
  }

  .hero h1 {
    @apply text-2xl lg:text-4xl mb-2 lg:mb-4 font-bold;
  }
  .hero h2 {
    @apply text-lg mb-4 mx-auto lg:mx-0 max-w-md text-gray-500;
  }
}
